.self-info{
    border: 2px solid black;
    width: 400px;
    padding: 15px;
    border-radius: 20px;
    background-color: bisque;
}

.image{
    border-radius: 20px;
}

.image:hover{
    height: 250px;
    transition: 1s;
    box-shadow: 0 0 20px 20px white;
}

a{
    padding-right: 15px;
}

p{
    color: black;
    font-weight: bold;
}

h3{
    font-size: 23px;
}

a:hover{
    font-size: 20px;
    transition: 1s;
    font-weight: bold;
}

.top-icon{
    color: blue;
    margin-left: 50%;
}

.up-arrow{
    height: 50px;
    background-color: red;
    border-radius: 50px;
    cursor: pointer;
}

.aboutus-img{
    border-radius: 30px;
    height: 150px;
    width: 1240px;
}

marquee{
    color: brown;
}