.main_card{
    width: 310px;
    padding: 10px;
    background-color:bisque;
    color:black ;
    justify-content:center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgb(162, 162, 162);
    display: block;
    margin: 20px auto;
}

.sub_card{
    width: 540px;
    padding: 10px;
    background-color: bisque;
    justify-content:center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgb(162, 162, 162);
    display: block;
    margin: 0 auto;
}

.map{
    width: 600px;
    padding: 10px;
    background-color: bisque;
    justify-content:center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgb(162, 162, 162);
    display: block;
    margin: 0 auto;
}

.primary-img , .primary-video{
    border-radius: 5px;
}

.card{
    height: 100px;
    padding: 5px;
    background-color:bisque;
    color:black ;
    justify-content:center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgb(162, 162, 162);
    display: block;
    margin: 20px auto;
}